<!DOCTYPE html>
<html>
<head>
    <title>Company Dashboard</title>

    <style>
        body{
            font-family:Arial;
            background:#f2f2f2;
            text-align:center;
            padding-top:100px;
        }

        .box{
            width:400px;
            margin:auto;
            background:white;
            padding:30px;
            border-radius:10px;
        }

        a{
            text-decoration:none;
            color:white;
            background:#007BFF;
            padding:10px 20px;
            border-radius:5px;
        }
    </style>
</head>

<body>

<div class="box">
    <h2>Welcome Company 🎉</h2>
    <p>Login Successful.</p>
    <br>
    <a href="/">Go to Home</a>
</div>

</body>
</html>